body, html {
  background-color: rgb(238, 238, 225);
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Archivo-Regular";
  src: url("Fonts/Archivo-Regular.ttf");
}

@font-face{
  font-family: "Archivo-Bold";
  src: url("Fonts/Archivo-Bold.ttf");
}

button{
  font-family: "Archivo-Regular";
  background-color: Transparent;
  outline: none;
  background-repeat: no-repeat;
  border: none;
  position:  absolute;
  top: 20px;
  font-size: 60%;
  opacity: 75%;
}

.droneName{
  color: white;
  font-size: 500%; 
  font-family: "Archivo-Bold";
}

.quoteText{
  color: grey;
  opacity: 20%;
  font-family: "Archivo-Bold";
  font-size: 50%;
}

.topColumn{
  display: inline-block;
}

.storeButton{
  left: 15vmin; 
}

.tutorialButton{
  left: 30vmin;
}

.blogButton{
  right: 30vmin;
}

.contactButton{
  right: 15vmin;
}

.App-logo {
  height: 5vmin;
  margin-top: 10px;
}

.App-hero {
  height: 40vmin;
  margin-top: 5%;
}

.App-shadow {
  height: 4vmin;
  margin-top: 5%;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
