@font-face {
  font-family: "Archivo-Regular";
  src: url("Fonts/Archivo-Regular.ttf");
}

@font-face{
  font-family: "Archivo-Bold";
  src: url("Fonts/Archivo-Bold.ttf");
} 

body, html {
  background-color: rgb(238, 238, 225);
}

textarea{
  outline: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: rgb(171, 171, 171);
  background: transparent;
  width: 95vmin;
  resize: none;
  height: 20vmin;
}

form, h2{
  font-size: 8.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Archivo-Regular";
}

form, input{
  font-family: "Archivo-Regular";
  opacity: 75%;
  font-size: 12px;
}

form, textarea{
  font-family: "Archivo-Regular";
  opacity: 75%;
  font-size: 12px;
}

input[type="text"]{
  border: none;
  border-bottom: 2px solid rgb(171, 171, 171);
  background-color: transparent;
  width: 95vmin;
  left: 30vmin;
  padding-bottom: 15px;
}

input[type="text"]:focus{
  border-bottom: 2px solid rgb(126, 126, 126);
}

input[type="submit"]{
  margin-top: 20px;
  background-color: rgb(233, 62, 0);
  font-family: "Archivo-Bold";
  border: none;
  color: white;
  padding: 14px 28px
}

button{
  font-family: "Archivo-Regular";
  background-color: Transparent;
  outline: none;
  background-repeat: no-repeat;
  border: none;
  position:  absolute;
  top: 20px;
  font-size: 60%;
  opacity: 75%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-top: 10px;
}

.App-hero {
  height: 40vmin;
  margin-top: 5%;
}

.App-shadow {
  height: 4vmin;
  margin-top: 5%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Contact-logo{
  height: 15px;
  margin-top: 10px;
  padding-bottom: 50px;
}



.droneName{
  color: white;
  font-size: 500%; 
  font-family: "Archivo-Bold";
}

.quoteText{
  color: grey;
  opacity: 20%;
  font-family: "Archivo-Bold";
  font-size: 50%;
}

.topColumn{
  display: inline-block;
}

.storeButton{
  left: 15vmin; 
}

.tutorialButton{
  left: 30vmin;
}

.blogButton{
  right: 30vmin;
}

.contactButton{
  right: 15vmin;
}


