body, html {
  background-color: rgb(250, 250, 238);
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Archivo-Regular";
  src: url("Fonts/Archivo-Regular.ttf");
}

button{
  font-family: "Archivo-Regular";
  background-color: Transparent;
  outline: none;
  background-repeat: no-repeat;
  border: none;
}

.storeButton{
  
}

.App-logo {
  height: 5vmin;
  margin-top: 10px;
}

.App-hero {
  height: 40vmin;
  margin-top: 5%;
}

.App-shadow {
  height: 4vmin;
  margin-top: 5%;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
